# ignore log file
/log

# ignore binary file
/bin

# ignore some tools by perl
utils/*.pl

# ignore some tools by cpp
utils/*.out
utils/gen_edge*
/result

# ignore some paper related files
speedup.png
src/code*
src/pseudo*
