# ignore log files
/log

# ignore binary files
/bin

# ignore result files
/result

# ignore some local tools in utils/
utils/*.out
utils/*.cpp
utils/*.pl

# ignore some paper-related files
*.png
src/*code*